/*重置样式*/
body{
	margin:0px;
	padding:0px;
	font-family: Helvetica, Tahoma, Arial,  "Microsoft YaHei", "Î¢ÈíÑÅºÚ", SimSun, "ËÎÌå", Heiti, "ºÚÌå", sans-serif;
}
div,span{
	cursor: default;
}
ul,li{
	margin:0px;
	padding:0px;
	list-style:none;
}
dl,dd,p{
	margin: 0;
}
a{
	text-decoration:none;
}
html,body{
	width: 100%;
}
hr{
	margin-bottom: 20px;
	color: #e5e5e5;
	border: 1px solid #e5e5e5;
}
/*头部*/
.header{
	width: 1000px;
	padding:0px 20px;
	margin: 0px auto;
}
.header img{
	vertical-align:middle;
	line-height: 70px;
}
.conta{
	float: right;
	font-size: 16px;
	line-height: 70px;
	color: #195591;
}
.conta img{
	width: 18px;
}
.header ul{
	margin-right: 26px;
	float: right;
}
.header li{
	display: inline-block;
	width: 96px;
	text-align: center;
	cursor: pointer;
}
.header a{
	font-size: 16px;
	padding: 15px 0px;
	line-height: 70px;
	color: #666;
}
.header a:visited{
	color: #000;
}
.header li:hover a{
	color: #195591;
	border-bottom: 2px solid #195591;
}
/* 尾部 */
.footer{
	width: 100%;
	background: #195591;
	color: #fff;
}
.footer>div{
	width: 1000px;
	margin: 0 auto;
	padding: 10px 20px 5px 20px;
}
.wrap1{
	display: inline-block;
	width: 300px;
	float: left;
}
.wrap2{
	display: inline-block;
	width: 300px;
	vertical-align: top;
	margin-left: 45px;
}
.wrap3{
	display: inline-block;
	width: 300px;
	vertical-align: top;
	float: right;
}
.wrap3 p{
	font-size: 14px;
	display: inline-block;
}
#dituContent{
	width: 300px;
	height: 170px;
	margin-top: 2px;
	border:#ccc solid 1px;
}
.footer h3{
	text-align: center;
	margin-bottom: 20px;
}
.wrap1 p{
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 26px;
	word-wrap:break-word;
	text-align: left;
}
.wrap1 a{
	display: block;
	margin: 0 auto;
	width: 90px;
	height: 26px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 26px;
	border-radius: 3px;
	border: 2px solid #fff;
	position: relative;
}
.case1{
	margin-bottom: 10px;
	cursor: pointer;
	position: relative;
}

.case1 img{
	display: inline-block;
	width: 100%;
	height: 170px;
}
.case1 a{
	display: inline-block;
	width: 300px;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	color: #fff;
	background: rgba(0,0,0,0.6);
	text-align: center;
	position: absolute;
	top: 144px;
	left: 0;
}
.copyright{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	background: #022f59;
}