/*重置样式*/
body{
	margin:0px;
	padding:0px;
	font-family: Helvetica, Tahoma, Arial,  "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}
ul,li{
	margin:0px;
	padding:0px;
	list-style:none;
}
dl,dd,p{
	margin: 0;
}
a{
	text-decoration:none;
}
html,body{
	width: 100%;
}
.header{
	width: 1000px;
	padding:10px 20px;
	margin: 0px auto;
}
.conta{
	float: right;
	font-size: 20px;
	line-height: 95px;
	font-weight: 500px;
	color: #195591;
}
.conta img{
	width: 24px;
	position: relative;
	top: 3px;
}

.header ul{
	margin-right: 25px;
	float: right;
}
.header li{
	display: inline-block;
	width: 95px;
	height: 95px;
	text-align: center;
}
.header a{
	font-size: 18px;
	font-weight: 300;
	line-height: 95px;
	color: #505050;
}
.header li:hover{
	border-bottom: 2px solid #195591;
}
.header li:hover a{
	color: #195591;
}
.footer{
	width: 100%;
	padding-bottom: 30px;	
	background: #195591;
	color: #fff;
}
.footer>div{
	width: 1000px;
	margin: 0 auto;
	padding: 10px 20px;
}
.wrap1{
	display: inline-block;
	width: 240px;
	margin-right: 50px;
	float: left;
}
.wrap2{
	display: inline-block;
	width: 400px;
	vertical-align: top;
}
.wrap3{
	display: inline-block;
	width: 240px;
	vertical-align: top;
	float: right;
}
.wrap3 p{
	font-size: 14px;
}
.wrap3 img{
	vertical-align: top;
	height: 20px;
	margin: 5px;
	position: relative;
	bottom: 6px;
}
.map{
	width: 240px;
	height: 120px;
	margin-top: 5px;
	background: #505050;
	color: #000;
}
.footer h3{
	margin-bottom: 20px;
}
.wrap1 p{
	margin-bottom: 15px;
	font-size: 12px;
	line-height: 28px;
	word-wrap:break-word;
	text-align: left;
}
.wrap1 div{
	width: 115px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 3px;
	border: 2px solid #fff;
}
.case1{
	margin-bottom: 30px;
	height: 52px;
	position: relative;
}

.case1 img{
	display: inline-block;
}
.case1 p{
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
}
.case1 p>span:nth-child(3){
	font-size: 12px;
	line-height: 40px;
	vertical-align: bottom;
	word-wrap:break-word;
	position: absolute;
}