/* 首页 */
/*.header li:nth-child(1){
	background: rgba(25,85,145,0.5);
	background: #195591;
}*/
/*.header li:nth-child(1) a{
	color: #fff;
}*/
.main>div:nth-child(1){
	position: relative;
}
.banner{
	display: block;
	width: 1349px;
	margin: 0 auto;
}
/*#inner{
	height: 399px;
	position: relative;
	overflow: hidden;
}
.paganation{
    width: 100%;
    position: absolute;
    bottom:10px;
    text-align:center;
}
.paganation span{
    background: #fff;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius:8px;
    cursor: pointer;
}
.paganation .selected{
    background: rgba(50,50,50,0.8);
}*/
        .clear{
            *zoom:1;
        }
        .clear:after{
            visibility: none;
            content:"";
            display:block;
            clear:both;
            height:0;
        }
        #wrap{
            width: 1349px;
            height: 399px;
            /*height:286px;*/
            margin:0 auto;
            position:relative;
            background: pink;
            overflow: hidden;
        }
        #inner{
            width: 1000%;
            height:100%;
            position:absolute;
            left:0;
            top:0;
        }
        #inner img{
            width:10%;
            float: left;
        }
        .paganation{
            width: 100%;
            position: absolute;
            bottom:10px;
            text-align:center;
        }
        .paganation span{
            /*background: #F2F2F2;
            color:red;
            border-radius:50%;
            cursor: pointer;*/
            background: #fff;
            color: rgba(0,0,0,0);
            font-size: 0px;
    		display: inline-block;
   			width: 10px;
    		height: 10px;
    		border-radius:5px;
    		cursor: pointer;
        }
        .paganation .selected{
            background: rgba(50,50,50,0.8);
        }
        .arrow{
            position:absolute;
            top:0;
            width: 30px;
            height: 399px;
            line-height: 399px;
            text-align: center;
            color: red;
            cursor: pointer;
        }
        #right{
            right: 0;
        }
        .arrow:hover{
            background: rgba(0,0,0,0.5);
        }
.adv,.case,.videoContent/*,.about>div*/{
	padding: 20px 20px 25px 20px;
	margin: 0 auto;
	text-align: center;
	color: #505050;
}
.adv h1,.case h1,.videoContent h1/*,.about h1*/{
	font-size: 26px;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 10px;
}
.adv h2,.case h2,.videoContent h2/*,.about h2*/{
	display: inline-block;
	width: 110px;
	margin: 0px auto;
	font-size: 22px;
	font-weight: 300;
	line-height: 0;
	position: relative;
}
.adv h2::after{
	content: "";
	width: 110px;
	border-bottom: 2px solid #195591;
	position: absolute;
	top: 20px;
	left: 0px;
}
.adv>p{
	margin-top: 10px;
	margin-bottom: 20px;
	color: #696969;
	font-size:14px;
	line-height: 1;
}
.case h2::after{
	content: "";
	width: 110px;
	border-bottom: 2px solid #195591;
	position: absolute;
	top: 20px;
	left: 0px;
}
.videoContent h2::after{
	content: "";
	width: 110px;
	border-bottom: 2px solid #195591;
	position: absolute;
	top: 20px;
	left: 0px;
}
/*.adv span{
	display: inline-block;
	width: 960px;
	margin-top: 5px;
	font-size:14px;
	line-height: 20px;
}*/
.ex{
	width: 1000px;
	margin: 20px auto 0 auto;
	padding: 0px 20px;
}
/*.ex img{
	position: relative;
	top: 10px;
}
.ex>div:nth-of-type(3) img{
	position: relative;
	top: 15px;
}*/

.ex>div{
	display: inline-block;
	width: 320px;
	margin-top: 30px;
	/*margin-right: 50px;*/
	vertical-align: top;
}
/*.ex>div{

}*/
/*.ex>div>div:nth-child(1){
	width: 0px;
	margin: 0px auto;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #195591;
}*/
.ex>div>div::before{
	content: "";
	width: 0px;
	height: 0px;
	border-bottom: 25px solid #195591;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	position: absolute;
	top: -25px;
	left: 0px;
}
.ex>div>div{
	width: 100px;
	height: 65px;
	margin: 0px auto;
	background-color: #195591;
	background-image: url(../images/sprite.png);
	position: relative;
}
.ex>div:nth-of-type(1)>div{
	background-position: 100px 0px;
}
.ex>div:nth-of-type(2)>div{
	background-position: 200px 0;
}
.ex>div:nth-of-type(3)>div{
	background-position: 300px 0;
}
.ex>div>div::after{
	content: "";
	width: 0px;
	height: 0px;
	border-top: 25px solid #195591;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	position: absolute;
	top: 65px;
	left: 0px;
}
.ex>div>p:nth-of-type(1){
	margin-top: 40px;
	font-size: 18px;
	color: #000;
}
/*.ex>div>p:nth-of-type(1)::after{
	content: "";
	width: 100px;
	height: 2px;
	background: #195591;
	position: absolute;
	top: 28px;
	left: 110px;
}*/
.ex>div>p:nth-of-type(2){
	display: inline-block;
	width: 260px;
	margin: 10px auto 0px auto;
	font-size: 14px;
	color: #696969;
	/*margin-top: 30px;*/
}


	
/*.ex>div>div:nth-child(3){
	width: 0px;
	margin: 0px auto;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #195591;
}*/
.case{
	background: #f4f4f4;
}
.show{
	width: 960px;
	margin: 0px auto;
}
/*#detail{
	width: 100%;
	height:100%;
	margin: 0px auto;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.2);
	border: 1px solid red;
	z-index: 2;
}
.detail div{
	display: inline-block;
}*/
.show li{
	display: inline-block;
	width: 160px;
	height: 160px;
	vertical-align: top;
	position: relative;
	cursor: pointer;
	text-align: center;
}
.pic1{
	width: 160px;
	height: 160px;
}
.hidden{
	/*display: inline-block;*/
	width: 100px;
	height: 100px;
	position: absolute;
	top: 30px;
	left: 30px;
	text-align: center;
	background: rgba(25,85,145,0.7);
	visibility: hidden;
}
.show ul img:nth-of-type(2){
	display: inline-block;
	width: 45px;
	width: 45px;
	vertical-align: middle;
	position: absolute;
	top: 57.5px;
	left: 57.5px;
	visibility: hidden;
}
.show ul p{
	font-size: 14px;
	color: #fff;
	position: relative;
	top: -24px;
	z-index: 2;
	visibility: hidden;
}
.show li:hover>.hidden{
	visibility: visible;
	transform: scale(1.6,1.6);
	box-shadow: 0 0 0 #195591;
	transition: transform,box-shadow 0.25s,0.25s;
}
.show li:hover>.hidden+img{
	visibility: visible;
}
.show li:hover>p{
	visibility: visible;
}
.videoContent dl{
	width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}
.videoContent dd{
	display: inline-block;
	width: 320px;
	/*height: 200px;*/
	margin-bottom: 8px;
	box-sizing: border-box;
	/*border: 2px solid #d8d8d8;*/
	vertical-align: top;
	/*padding-top: 10px 5px 0px 5px;*/
	/*border: 1px solid red;*/
	/*background: #000;*/
	position: relative;
	cursor: pointer;
}
.videoContent dd img{
	display: inline-block;
	width: 310px;
	height: 160px;
	margin: 5px auto 0px auto;
}
.videoContent dd p{
	font-size: 14px;
	line-height: 20px;
	color: #000;
}
.videoContent dd a{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	/*box-sizing: border-box;*/
	border: 3px solid #e5e5e5;
	background: rgba(130,130,130,0.4);
	position: absolute;
	top: 60px;
	left: 140px;
}
.videoContent dd a div{
	width: 0px;
	height: 0px;
	border-left: 18px solid #e5e5e5;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	position: absolute;
	top: 8px;
	left: 14px;
}
.videoContent dd:hover a{
	background: rgba(130,130,130,0.6);
	border: 3px solid #fff;
}
.videoContent dd:hover a div{
	border-left: 18px solid #fff;
}
.last{
	width: 50px;
	height: 6px;
	border-radius: 6px;
	background: #787b86;
	position: absolute;
	top: 166px;
	left: -30px;
	transform: rotate(-45deg);
}
.last::before{
	content: "";
	width: 6px;
	height: 50px;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 0;
	background: #787b86;
}
.next{
	width: 50px;
	height: 6px;
	border-radius: 6px;
	background: #787b86;
	position: absolute;
	top: 166px;
	right: -30px;
	transform: rotate(45deg);
}
.next::before{
	content: "";
	width: 6px;
	height: 50px;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 44px;
	background: #787b86;
}


/* 关于 */
.about {
	width: 100%;
}
/*.about img{
	float: right;
	width: 100%;
}*/
/*.about h2::after{
	content: "";
	width: 110px;
	border-bottom: 2px solid #195591;
	position: absolute;
	top: 20px;
	left: 0px;
}*/
/*.about>div>div{
	width: 1000px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 36px;
	text-align: left;
}
.about>div img{
	display: inline-block;
	width: auto;	
	height: 200px;
}*/
.about>div{
	width: 1000px;
	margin: 0 auto;
	padding: 20px 20px;
}
.about>div>div>div:nth-of-type(1){
	font-size: 14px;
	color: #757575;
	line-height: 24px;
	margin-left: 10px;
	margin-bottom: 20px;
	width: 718px;
	display: inline-block;
	vertical-align: top;
}
.about>div>div>div{
	font-size: 14px;
	color: #757575;
	line-height: 24px;
	margin-bottom: 20px;
}
.about>div>div img{
	display: inline-block;
	height: 150px;
	margin-bottom: 10px;
}
.about>div>div p{
	font-size: 16px;
	color: #195591;
	margin-bottom: 10px;
}
.about>div>div span{
	font-size: 18px;
}
/*优势*/
.advwrap{
	width: 100%;
	/*margin: 0 auto;
	padding: 15px 20px 15px 20px;*/
}

/*.ouradv>p{
	font-size: 26px;
	margin-bottom: 15px;
}
.ouradv>div{
	padding: 20px 0 25px 25px;
}
.ouradv>div div{
	width: 250px;
}
.ouradv>div div img{
	display: inline-block;
}
.ouradv>div div{
	display: inline-block;
}
.ouradv>div p{
	display: inline-block;
	color: #505050;
	word-break: break-all;
	vertical-align: top;
}*/
.advex{
	width: 700px;
	margin: 0 auto;
	padding: 30px 20px 0px 20px;
	
}
.advex div{
	/*width: 100%;*/
	height: 45px;
	line-height: 45px;
	/*padding-bottom: 3px;*/
	margin-bottom: 30px; 
	font-size: 26px;
	background: url(../images/advicon.png) no-repeat;
}
.advex:nth-of-type(1){
	height: 215px;
	background: url(../images/weishi.jpg) no-repeat right 14px;
}
.advex:nth-of-type(1) div{
	padding-left: 58px;
	background-position: 0px -192px;
}
.advex:nth-of-type(2){
	height: 320px;
	background: url(../images/weiyuan.png) no-repeat left top;	
}
.advex:nth-of-type(2) div{
	/*float: right;*/
	margin-left: 334px;
	padding-left: 48px;
	background-position: 0px -144px;
}
.advex:nth-of-type(2) p{
	margin-left: 350px;
}
.advex:nth-of-type(3){
	height: 260px;
	background: url(../images/weiyou.png) no-repeat right 14px;
}
.advex:nth-of-type(3) div{
	padding-left: 58px;
	background-position: 0px -97px;
}
.advex:nth-of-type(4){
	height: 284px;
	background: url(../images/weigeng.png) no-repeat left 14px;
	margin-bottom: 10px;	
}
.advex:nth-of-type(4) div{
	/*float: right;*/
	margin-left: 334px;
	padding-left: 58px;
	padding-bottom: 8px;
	background-position: 0px -45px;
}
.advex:nth-of-type(4) p{
	margin-left: 340px;
}
.advex p{
	line-height: 28px;
}
/*.advex{
	background: url(../images/weishi.jpg) no-repeat right 0px;
	margin-bottom: 50px;
}*/


/*案例*/
.casewrap{
	width: 100%;
}
.casewrap img{
	width: 1349px;
	vertical-align: top;
}
.casewrap ul{
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 16px;
}
.casewrap li{
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	border: 1px solid #505050;
	cursor: pointer;
	padding: 5px 10px;
}
.casewrap li:hover{
	color: #fff;
	background: #505050;
}
.casewrap li:first-child{
	color: #fff;
	background: #505050;
}
.casewrap>div{
	width: 1000px;
	margin: 0 auto;
	/*padding: 0 20px 15px 0px;*/
}
/*.casewrap>div>dl>div{
	display: inline-block;
	width: 290px;
	padding-right: 10px;
	padding-bottom: 15px;
	cursor: pointer;
	vertical-align: top;
}*/
.casecont{
	width: 320px;
	padding: 15px 15px 0px 15px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 0 0 2px #505050;
	text-align: center;
	cursor: pointer;	
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}
/*.casewrap dd{

}*/
/*.casewrap dd{
	width: 290px;
	margin-right: 10px;
	margin-bottom: 15px;
	box-shadow: 0 0 2px #505050;
	display: inline-block;
	vertical-align: top;
	text-align: middle;
	cursor: pointer;
}*/
.casewrap dd p{
	font-size: 16px;
	/*font-weight: bold;*/
	margin: 5px auto;
	/*color: #505050;*/
	/*padding: 15px 15px 0px 15px;*/
}
.casewrap dd img{
	width: 290px;
	height: 215px;
	/*margin-top: 4px;
	margin-left: 15px;*/
	/*padding: 10px 15px;*/
}
.casecont span{
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	color: #505050;
	text-align: left;
	/*padding: 4px 15px 10px 15px;*/
}
.casebox dd div{
	/*width: 100%;*/
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	color: #999;
	text-align: left;
	/*padding-left: 15px;*/
	border-top: 1px solid #d5d2d2;
	/*background: #f6f6f6;*/
}


/*视频*/
.videowrap{
	width: 1000px;
	margin: 0 auto;
	padding: 25px 20px 20px 20px;
}
.videowrap p{
	font-size: 18px;
	font-weight: bold;
}
.videowrap p span{
	/*padding-left: 10px;*/
	font-size: 14px;
	color: #505050;
}
/*.videowrap>div{
	width: 1000px;

}*/
.videowrap>div>div{
	display: inline-block;
	/*width: 300px;
	height: 245px;*/
	margin-top: 25px;
	margin-bottom: 50px;
	margin-right: 15px;
	position: relative;
}
.videowrap embed{
	width: 300px;
	height: 245px;
}
.videowrap>div>div span{
	width: 300px;
	padding: 0 5px;
	position: absolute;
	top: 250px;
	left: 0px;
	box-sizing: border-box;
	text-align: center;
}
.videowrap>div>div span{
	font-size: 16px;
	line-height: 24px;
	color: #666;
	cursor: default;
}
.videowrap>div>div:hover span{
	color: #000;
}
/*.videowrap>div>div span:hover{
	background: #fff;
}*/
/*.videowrap>div>div span:hover a{
	color: #000;
	text-decoration: underline;
}*/
.videopic img{
	width: 1349px;
}
.iw_poi_title{
	color:#CC5522;
	font-size:14px;
	font-weight:bold;
	overflow:hidden;
	padding-right:13px;
	white-space:nowrap
}
.iw_poi_content{
	font:12px arial,sans-serif;
	overflow:visible;
	padding-top:4px;
	white-space:-moz-pre-wrap;
	word-wrap:break-word
}
