/* 首页 */
.header li:nth-child(1){
	background: #195591;
}
.header li:nth-child(1) a{
	color: #fff;
}
.main>div:nth-child(1){
	position: relative;
}
.banner{
	width: 100%;
}
.adv,.case,.videoContent,.about>div{	
	padding: 20px 20px 25px 20px;
	margin: 0 auto;
	text-align: center;
	color: #505050;
}
.adv h2,.case h2,.videoContent h2,.about h2{
	display: inline-block;
	width: 110px;
	margin: 0px auto;
	line-height: 0;
	position: relative;
}
.adv h2::after{
	content: "";
	width: 110px;
	border-bottom: 2px solid #195591;
	position: absolute;
	top: 20px;
	left: 0px;
}
.adv p{
	font-size: 46px;
	margin-top: 10px;
	color: #505050;
}
.case h2::after{
	content: "";
	width: 110px;
	border-bottom: 2px solid #195591;
	position: absolute;
	top: 20px;
	left: 0px;
}
.videoContent h2::after{
	content: "";
	width: 110px;
	border-bottom: 2px solid #195591;
	position: absolute;
	top: 20px;
	left: 0px;
}
.adv span{
	display: inline-block;
	width: 800px;
	margin-top: 15px;
	font-size:18px;
	line-height: 26px;
	/*text-align: left;*/
}
.ex{
	width: 1000px;
	margin: 20px auto 0 auto;
	padding: 0px 20px;
}
/*.ex img{
	position: relative;
	top: 10px;
}
.ex>div:nth-of-type(3) img{
	position: relative;
	top: 15px;
}*/

.ex>div{
	display: inline-block;
	width: 320px;
	margin-top: 10px;
	vertical-align: top;
}

/*.ex>div>div:nth-child(1){
	width: 0px;
	margin: 0px auto;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #195591;
}*/
.ex>div>div::before{
	content: "";
	width: 0px;
	height: 0px;
	border-bottom: 25px solid #195591;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	position: absolute;
	top: -25px;
	left: 0px;
}
.ex>div>div{
	width: 100px;
	height: 65px;
	margin: 0px auto;
	background-color: #195591;
	background-image: url(../images/sprite.png);
	position: relative;
}
.ex>div:nth-of-type(1)>div{
	background-position: 100px 0px;
}
.ex>div:nth-of-type(2)>div{
	background-position: 200px 0;
}
.ex>div:nth-of-type(3)>div{
	background-position: 300px 0;
}
.ex>div>div::after{
	content: "";
	width: 0px;
	height: 0px;
	border-top: 25px solid #195591;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	position: absolute;
	top: 65px;
	left: 0px;
}
.ex>div>p:nth-of-type(1){
	margin-top: 35px;
	font-size: 20px;
	
}
.ex>div>p:nth-of-type(2){
	font-size: 14px;
	color: #555;
	margin-top: 15px;
}


	
/*.ex>div>div:nth-child(3){
	width: 0px;
	margin: 0px auto;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #195591;
}*/
.case{
	background: #f4f4f4;
}
.show{
	width: 960px;
	margin: 0px auto;
}
.show li{
	display: inline-block;
	width: 160px;
	height: 160px;
	vertical-align: top;
	position: relative;
	cursor: pointer;
	text-align: center;
}
.pic1{
	width: 160px;
	height: 160px;
}
.hidden{
	display: inline-block;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 30px;
	left: 30px;
	text-align: center;
	background: rgba(25,85,145,0.7);
	visibility: hidden;
}
.show img:nth-of-type(2){
	display: inline-block;
	width: 45px;
	width: 45px;
	vertical-align: middle;
	position: absolute;
	top: 57.5px;
	left: 57.5px;
	visibility: hidden;
}
.show p{
	font-size: 14px;
	color: #fff;
	position: relative;
	top: -24px;
	z-index: 2;
	visibility: hidden;
}
.show li:hover>.hidden{
	visibility: visible;
	transform: scale(1.6,1.6);
	box-shadow: 0 0 0 #195591;
	transition: transform,box-shadow 0.25s,0.25s;
}
.show li:hover>.hidden+img{
	visibility: visible;
}
.show li:hover>p{
	visibility: visible;
}
.videoContent dl{
	width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}
.videoContent dd{
	display: inline-block;
	width: 320px;
	/*height: 200px;*/
	margin-bottom: 8px;
	box-sizing: border-box;
	/*border: 2px solid #d8d8d8;*/
	vertical-align: top;
	/*padding-top: 10px 5px 0px 5px;*/
	/*border: 1px solid red;*/
	/*background: #000;*/
	position: relative;
	cursor: pointer;
}
.videoContent dd img{
	display: inline-block;
	width: 310px;
	height: 160px;
	margin: 5px auto 0px auto;
}
.videoContent dd p{
	font-size: 14px;
	line-height: 20px;
	color: #000;
}
.videoContent dd a{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	/*box-sizing: border-box;*/
	border: 3px solid #e5e5e5;
	background: rgba(130,130,130,0.4);
	position: absolute;
	top: 60px;
	left: 140px;
}
.videoContent dd a div{
	width: 0px;
	height: 0px;
	border-left: 18px solid #e5e5e5;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	position: absolute;
	top: 8px;
	left: 14px;
}
.videoContent dd:hover a{
	background: rgba(130,130,130,0.6);
	border: 3px solid #fff;
}
.videoContent dd:hover a div{
	border-left: 18px solid #fff;
}
.last{
	width: 50px;
	height: 6px;
	border-radius: 6px;
	background: #787b86;
	position: absolute;
	top: 166px;
	left: -30px;
	transform: rotate(-45deg);
}
.last::before{
	content: "";
	width: 6px;
	height: 50px;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 0;
	background: #787b86;
}
.next{
	width: 50px;
	height: 6px;
	border-radius: 6px;
	background: #787b86;
	position: absolute;
	top: 166px;
	right: -30px;
	transform: rotate(45deg);
}
.next::before{
	content: "";
	width: 6px;
	height: 50px;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 44px;
	background: #787b86;
}


/* 关于 */
.about {
	width: 100%;
}
.about img{
	float: right;
	width: 100%;
}
.about h2::after{
	content: "";
	width: 110px;
	border-bottom: 2px solid #195591;
	position: absolute;
	top: 20px;
	left: 0px;
}
.about>div>div{
	width: 1000px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 46px;
	text-align: left;
}


/*优势*/
.advwrap{
	width: 1000px;
	margin: 0 auto;
	padding: 15px 20px 15px 20px;
}
.ouradv>p{
	font-size: 26px;
	margin-bottom: 15px;
}
.ouradv>div{
	padding: 20px 0 25px 25px;
}
.ouradv>div div{
	width: 250px;
}
.ouradv>div div img{
	display: inline-block;
}
.ouradv>div div{
	display: inline-block;
}
.ouradv>div p{
	display: inline-block;
	color: #505050;
	word-break: break-all;
	vertical-align: top;
}
.advex div{
	width: 100%;
	margin-bottom: 30px; 
	font-size: 32px;
}
.advex p{
	line-height: 22px;
}
.advex{
	background: url(../images/weishi.jpg) no-repeat right 0px;
	margin-bottom: 50px;
}


/*案例*/
.casewrap{
	width: 100%;
}
.casewrap img{
	width: 100%;
	vertical-align: top;
}
.casewrap>div{
	width: 1000px;
	margin: 0 auto;
	padding: 0 20px 15px 0px;
}
.casewrap ul{
	margin-top: 20px;
	font-size: 16px;
}
.casewrap li{
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	border: 1px solid #505050;
	cursor: pointer;
	padding: 5px 10px;
}
.casewrap li:hover{
	color: #fff;
	background: #505050;
}
.casewrap dd{
	width: 290px;
	margin-top: 25px;
	margin-right: 10px;
	padding:15px;
	box-shadow: 0 0 2px #505050;
	display: inline-block;
}
.casewrap dd p{
	font-size: 20px;
	font-weight: bold;
	color: #505050;
}
.casewrap dd img:nth-of-type(1){
	width: :260px;
	margin-top: 15px;
}
.casewrap span{
	font-size: 12px;
	line-height: 20px;
}
.casewrap dd div{
	width: 100%;
	background: #505050;
}


/*视频*/
.videowrap{
	width: 1000px;
	margin: 0 auto;
	padding: 25px 20px 20px 20px;
}
.videowrap p{
	font-size: 18px;
	font-weight: bold;
}
.videowrap p span{
	padding-left: 10px;
	font-size: 14px;
	color: #505050;
}
.videowrap>div{
	width: 1000px;

}
.videowrap>div div{
	display: inline-block;
	width: 300px;
	height: 245px;
	margin-top: 25px;
	margin-bottom: 50px;
	margin-right: 15px;
	position: relative;
}
.videowrap video{
	width: 300px;
	height: 245px;
}
.videowrap>div>div span{
	width: 260px;
	position: absolute;
	top: 210px;
	left: 20px;
	background: #000;
	text-align: center;
}
.videowrap>div>div span a{
	font-size: 16px;
	line-height: 26px;
	color: #fff;
}
.videowrap>div>div span:hover{
	background: #fff;
}
.videowrap>div>div span:hover a{
	color: #000;
	text-decoration: underline;
}
.videopic img{
	width: 100%;
}
.iw_poi_title{
	color:#CC5522;
	font-size:14px;
	font-weight:bold;
	overflow:hidden;
	padding-right:13px;
	white-space:nowrap
}
.iw_poi_content{
	font:12px arial,sans-serif;
	overflow:visible;
	padding-top:4px;
	white-space:-moz-pre-wrap;
	word-wrap:break-word
}
