.header li:nth-child(1){
	background: #195591;
}
.header li:nth-child(1) a{
	color: #fff;
}
.main>div:nth-child(1){
	position: relative;
}
.banner{
	width: 100%;
	/*height: 100%;*/
	vertical-align: bottom;
}
.about {
	width: 100%;
}
.about img{
	float: right;
	width: 100%;
}
.about div {
	width: 
}
.slogan{
	font-size: 90px;
	font-weight: 900;
	font-family:Heiti, "黑体", sans-serif;
	color: #fff;
	display: inline-block;
	/*position: absolute;
	top: 200px;
	left: 600px;*/
	position: absolute;
	top: 130px;
	left: 150px;
}
.adv,.case,.videoContent,.about>div{	
	padding: 20px 20px 25px 20px;
	margin: 0 auto;
	text-align: center;
	color: #505050;
}
.adv h2,.case h2,.videoContent h2,.about h2{
	display: inline-block;
	width: 110px;
	margin: 0px auto;
	line-height: 0;
	position: relative;
}
.adv h2::after{
	content: "";
	width: 110px;
	border-bottom: 2px solid #195591;
	position: absolute;
	top: 20px;
	left: 0px;
}
.case h2::after{
	content: "";
	width: 110px;
	border-bottom: 2px solid #195591;
	position: absolute;
	top: 20px;
	left: 0px;
}
.videoContent h2::after{
	content: "";
	width: 110px;
	border-bottom: 2px solid #195591;
	position: absolute;
	top: 20px;
	left: 0px;
}
.about h2::after{
	content: "";
	width: 110px;
	border-bottom: 2px solid #195591;
	position: absolute;
	top: 20px;
	left: 0px;
}
/*.adv hr,.case hr,.videoContent hr,.about hr{
	margin-bottom: 20px;
	color: #e5e5e5;
	border: 1px solid #e5e5e5;
}*/
.adv p{
	font-size: 46px;
	margin-top: 20px;
	color: #505050;
}
.about>div>div{
	width: 1000px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 46px;
	text-align: left;

}
.adv span{
	display: inline-block;
	width: 800px;
	margin-top: 40px;
	font-size:18px;
}
.ex{
	width: 1000px;
	margin: 20px auto 0 auto;
	padding: 0px 20px;
}
.ex img{
	position: relative;
	top: 10px;
}
.ex>div:nth-of-type(3) img{
	position: relative;
	top: 15px;
}

.ex>div{
	display: inline-block;
	width: 320px;
	vertical-align: top;
}
.ex>div>p:nth-of-type(1){
	margin-top: 15px;
	font-size: 20px;
}
.ex>div>p:nth-of-type(2){
	font-size: 14px;
	color: #555;
	margin-top: 15px;
}
.ex>div>div:nth-child(1){
	width: 0px;
	margin: 0px auto;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #195591;
}
.ex>div>div:nth-child(2){
	width: 100px;
	height: 65px;
	margin: 0px auto;
	background: #195591;
}
.ex>div>div:nth-child(3){
	width: 0px;
	margin: 0px auto;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #195591;
}
.case{
	background: #f4f4f4;
}
.show{
	width: 960px;
	margin: 0px auto;
}
.show li{
	display: inline-block;
	width: 160px;
	height: 160px;
	vertical-align: top;
	position: relative;
	cursor: pointer;
	text-align: center;
}
.pic1{
	width: 160px;
	height: 160px;
}
.hidden{
	display: inline-block;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 30px;
	left: 30px;
	text-align: center;
	background: rgba(25,85,145,0.7);
	/*box-shadow: 0 0 15px #195591;*/
	visibility: hidden;
}
.show img:nth-of-type(2){
	display: inline-block;
	width: 45px;
	width: 45px;
	vertical-align: middle;
	position: absolute;
	top: 57.5px;
	left: 57.5px;
	visibility: hidden;
}
.show p{
	font-size: 14px;
	color: #fff;
	position: relative;
	top: -24px;
	z-index: 2;
	visibility: hidden;
}
.show li:hover>.hidden{
	visibility: visible;
	transform: scale(1.6,1.6);
	box-shadow: 0 0 0 #195591;
	transition: transform,box-shadow 0.25s,0.25s;
}
.show li:hover>.hidden+img{
	visibility: visible;
}
.show li:hover>p{
	visibility: visible;
}
.videoContent dl{
	width: 900px;
	margin: 0 auto;
	position: relative;
}

.videoContent dd{
	display: inline-block;
	width: 450px;
	height: 300px;
	box-sizing: border-box;
	border: 2px solid #d8d8d8;
	vertical-align: top;
}
.videoContent video{
	width: 446px;
	height: 296px;
}
.casewrap{
	width: 100%;
	/*background: #404040*/;
}
.casewrap img{
	width: 100%;
	vertical-align: top;
}
.casewrap>div{
	width: 1000px;
	margin: 0 auto;
	padding: 0 20px 15px 0px;
}
.casewrap ul{
	margin-top: 20px;
	/*margin-bottom: 25px;*/
	font-size: 16px;
}
.casewrap li{
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	border: 1px solid #505050;
	cursor: pointer;
	padding: 5px 10px;
}
.casewrap li:hover{
	color: #fff;
	background: #505050;
}
.casewrap dd{
	width: 290px;
	/*margin-left: 20px;*/
	margin-top: 25px;
	margin-right: 10px;
	padding:15px;
	box-shadow: 0 0 2px #505050;
	display: inline-block;
}
.casewrap dd p{
	font-size: 20px;
	font-weight: bold;
	color: #505050;
	/*margin: 15px 15px 10px 15px;*/
}
.casewrap dd img:nth-of-type(1){
	width: :260px;
	margin-top: 15px;
}
.casewrap span{
	font-size: 12px;
	line-height: 20px;
}
.casewrap dd div{
	width: 100%;
	background: #505050;
}
/*.caserap dd div span{
	margin: 15px 0 20px 15px;
	font-size: 16px;
}
.casewrap dd div img{
	display: inline-block;
}*/
.videowrap{
	width: 1000px;
	margin: 0 auto;
	padding: 25px 20px 20px 20px;
}
.videowrap p{
	font-size: 18px;
	font-weight: bold;
}
.videowrap p span{
	padding-left: 10px;
	font-size: 14px;
	color: #505050;
}
.videowrap>div{
	width: 1000px;

}
.videowrap>div div{
	display: inline-block;
	width: 300px;
	height: 245px;
	margin-top: 25px;
	margin-bottom: 50px;
	margin-right: 15px;
	position: relative;
}
.videowrap video{
	width: 300px;
	height: 245px;
}
.videowrap>div div::after{
	content: "2016.10.23香蕉娱乐TRAINEE 青岛海信广场";
	width: 260px;
	height: 70px;
	position: absolute;
	top: 200px;
	left: 20px;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	background: #000;
	text-align: center;
}







.last{
	width: 50px;
	height: 6px;
	border-radius: 6px;
	background: #787b86;
	position: absolute;
	top: 292px;
	left: -80px;
	transform: rotate(-45deg);
}
.last::before{
	content: "";
	width: 6px;
	height: 50px;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 0;
	background: #787b86;
}
.next{
	width: 50px;
	height: 6px;
	border-radius: 6px;
	background: #787b86;
	position: absolute;
	top: 292px;
	right: -80px;
	transform: rotate(45deg);
}
.next::before{
	content: "";
	width: 6px;
	height: 50px;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 44px;
	background: #787b86;
}
.iw_poi_title{
	color:#CC5522;
	font-size:14px;
	font-weight:bold;
	overflow:hidden;
	padding-right:13px;
	white-space:nowrap
}
.iw_poi_content{
	font:12px arial,sans-serif;
	overflow:visible;
	padding-top:4px;
	white-space:-moz-pre-wrap;
	word-wrap:break-word
}
